package ${package};

## 类引入的包
#foreach($import in $imports)
import $import;
#end

## 类注解
#foreach($annotation in $annotations)
$annotation
#end
public class ${className}{
#foreach($field in $fields)
    private $!field.clazz $!field.name;
#end
}
